@page "/addPreMed/{medId:int}"

@using kokos.Data
@using kokos.Models
@inject NavigationManager NavigationManager
@inject DbHelperMethods db

@rendermode InteractiveServer

<h2>Add/Edit Medication</h2>
<EditForm Model="@med" OnSubmit="HandleSubmit" FormName="AddMed">
    <div class="mb-3">
        <label for="Name" class="form-label"> Name </label>
        <InputText id="name" @bind-Value="med.Name" class="form-control"></InputText>
    </div>
    <div class="mb-3">
        <label for="med.medType" class="form-label"> Type of med </label>
        <InputSelect id="medType" @bind-Value="med.medType" class="form-select">
            <option value="">Select Type</option>
            @foreach (var medType in Enum.GetValues(typeof(MedType)).Cast<MedType>())
            {
                <option value="@medType.ToString()">@medType.ToString()</option>
            }
        </InputSelect>

    </div>
    <div class="mb-3">
        <label for="med.dosageType" class="form-label"> Dosage </label>

        <InputSelect id="DosageType" @bind-Value="med.dosageType" class="form-control">
            <option value="">Select Dosage</option>
            @foreach (var dosageType in Enum.GetValues(typeof(DosageType)).Cast<DosageType>())
            {
                <option value="@dosageType.ToString()">@dosageType.ToString()</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="med.Dosage" class="form-label"> Dosage amount </label>
        <InputNumber id="dosage" @bind-Value="med.Dosage" class="form-control"></InputNumber>
    </div>

    <div class="mb-3">
        <label for="med.Time" class="form-label"> Dosage Time </label>
        <InputSelect id="dosageTime" @bind-Value="med.Time" class="form-control">
            <option value="">Select Time</option>
            @foreach (var dosageTime in Enum.GetValues(typeof(TimeOfDay)).Cast<TimeOfDay>())
            {
                <option value="@dosageTime.ToString()">@dosageTime.ToString()</option>
            }
        </InputSelect>
    </div>
    <button style="background-color: #8e44ad; border: none" type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public int medId { get; set; }

    private Medication med = new Medication();

    protected override void OnParametersSet()
    {
        med = db.GetMed(medId);

    }

    private void HandleSubmit()
    {
        Console.WriteLine($"Med NAME: {med.Name}");
        db.EditMed(med);
        NavigationManager.NavigateTo($"/addPrescription/{med.prescrId}");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/addPrescription");
    }
}
