@page "/meds"

@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using kokos.Data
@using kokos.Models
@using kokos.Components.Account
@using System.Security.Claims

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager NavigationManager
@inject DbHelperMethods db;

<PageTitle>Leki</PageTitle>
<h3>Twoje leki</h3>

@if (meds.Count == 0)
{
    <p><em>Nie masz dodanych lekow</em></p>

    <div class="row mb-4">
    <div class="col-sm-6">
        <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary"
            @onclick="AddMed">Dodaj lek</button>
    </div>
</div>
}
else
{
    <div class="row mb-4">
    <div class="col-sm-6">
        <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary"
            @onclick="AddMed">Dodaj lek</button>
    </div>
</div>

    <table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Rodzaj</th>
            <th>Rodzaj dawki</th>
            <th>Dawka</th>
            <th>Pora dnia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var med in meds)
            {
                <tr>
                    <td>@med.Name</td>
                    <td>@med.medType</td>
                    <td>@med.dosageType</td>
                    <td>@med.Dosage</td>
                    <td>@med.Time</td>
                    <td>
                        <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary"
                            @onclick="(() => EditMed(med.Id))">Edytuj</button>
                        <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary"
                            @onclick="(() => Delete(med.Id))">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




@code {

    private ClaimsPrincipal user;
    private string userId;
    private List<Medication> meds = new();


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        userId = userIdClaim?.Value;

        if (userId != null)
        {
            meds = db.GetPatientMeds(userId);
        }

    }

    private void AddMed()
    {
        NavigationManager.NavigateTo("/addMed");
    }


    private void EditMed(int id)
    {
        NavigationManager.NavigateTo($"/addMed/{id}");
    }


    private void Delete(int id)
    {
        db.DeletePatientMed(id);

        NavigationManager.NavigateTo("/meds", forceLoad: true);
    }
}
