@page "/meds"

@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using kokos.Data
@using kokos.Models
@using kokos.Components.Account
@using System.Security.Claims

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager NavigationManager
@inject DbHelperMethods db;

<PageTitle>Meds</PageTitle>
<h3>Your meds</h3>

@if(meds.Count == 0)
{
<p><em>No meds added</em></p>

<div class="row mb-4">
    <div class="col-sm-6">
        <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary" @onclick="AddMed">New med</button>
    </div>
</div>
}
else
{
<div class="row mb-4">
    <div class="col-sm-6">
        <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary" @onclick="AddMed">New med</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Dosage Type</th>
            <th>Dosage</th>
            <th>Time of day</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var med in meds)
        {
            <tr>
                <td>@med.name</td>
                <td>@med.medType</td>
                <td>@med.dosageType</td>
                <td>@med.dosage</td>
                <td>@med.timeOfDay</td>
                <td>
                    <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary" @onclick="(() => EditMed(med.id))">Edit</button>
                    <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary" @onclick="(() => Delete(med.id))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}




@code {

    private ClaimsPrincipal user;
    private string userId;
    private PatientInfo pInfo = new();
    private List<CompleteMed> meds = new();
    private List<PatientsMeds> patientMeds = new();


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        userId = userIdClaim?.Value;

        if(userId != null)
        {
            //Console.WriteLine("USER ID: " + userId);
            patientMeds = db.GetPatientMeds(userId);

            foreach(PatientsMeds x in patientMeds)
            {
                var med = db.GetMed(x.MedId);
                CompleteMed completeMed = new CompleteMed();
                completeMed.id = x.Id;
                completeMed.name = med.Name;
                completeMed.medType = med.medType;
                completeMed.dosageType = med.dosageType;
                completeMed.dosage = x.Dosage;
                completeMed.timeOfDay = x.Time;
                meds.Add(completeMed);
            }
        }

    }


    private void AddMed()
    {
        NavigationManager.NavigateTo("/addMed");
    }


    private void EditMed(int id)
    {
        NavigationManager.NavigateTo($"/addMed/{id}");
    }

    private void Delete(int id)
    {
        //Console.WriteLine("ID: " + id);
        db.DeletePatientMed(id);

        NavigationManager.NavigateTo("/meds", forceLoad: true);
    }


    private class CompleteMed
    {
        public int id { get; set; }   //tutaj nie jest id medu, tylko id leku w patientsMeds
        public string name { get; set; }
        public MedType medType { get; set; }
        public DosageType dosageType { get; set; }
        public int dosage { get; set; }
        public TimeOfDay timeOfDay { get; set; }
    }
}
