@page "/patientProfile"

@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using kokos.Data
@using kokos.Models
@using kokos.Components.Account

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject AuthenticationStateProvider authenticationStateProvider
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager
@inject DbHelperMethods db;

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">Name:</dt>
                <dd class="col-sm-8">@pInfo.Name</dd>

                <dt class="col-sm-4">Surname:</dt>
                <dd class="col-sm-8">@pInfo.Surname</dd>

                <dt class="col-sm-4">Age:</dt>
                <dd class="col-sm-8">@pInfo.Age</dd>

                <dt class="col-sm-4">Height:</dt>
                <dd class="col-sm-8">@pInfo.Height</dd>

                <dt class="col-sm-4">Weight:</dt>
                <dd class="col-sm-8">@pInfo.Weight</dd>


                <button style="background-color: #8e44ad; border: none" type="button" class="btn btn-primary"
                    @onclick="OnClick">Edit</button>
            </dl>
        </div>
    </div>
</div>

@code {
    private ClaimsPrincipal user;
    private PatientInfo pInfo = new();


    protected override async Task OnInitializedAsync()
    {
        //user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        //

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
            var userId = userIdClaim?.Value;
            Console.WriteLine("USER ID: " + userId);
            pInfo = db.GetPatientInfo(userId);
        }

    }

    private void OnClick()
    {
        NavigationManager.NavigateTo("/editInfo");
    }

}
